
<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id="root">
  <link rel="shortcut icon" href="/favicon2.png?v=2" />

  <img src="https://kittentoob.com/wp-content/uploads/2018/01/Mackerel-tabby-750x441.jpg">
</main>
