$sandy-white: #F4F1EA;
$brown: #382110;
$white: white;
$black: #333333;
$teal: #00635D;
$green: #409D69;
$yellow: #fff7c9;
$gray: #d0d0c8;


$text_color: $black;
$link_color: $brown;
// $border_color: $ice;
$navbar_color: $sandy-white;
// $loader_color: $linen;
$button_color: $green;
// $button_text_color: $original_button_text;
// $background_color: $linen;
// $storefront_background: $linen;
$nav_hover_color: $brown;
$nav_hover_text: $white;
