.bookshowpage-container {
  font-family: "Merriweather", "Georgia", serif;
  margin: 0 auto;
  width: 72%;
  margin-top: 77px;
  grid-template-rows: 1fr 5fr;
  display: grid;
}

.bookshowpage-container h4, .bookshowpage-container h5 {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.bookshowpage-container h5{
  font-size: 14px;
  padding-bottom: 14px;
}

.bookshowpage-container h5 > span {
  color: $teal;
}

.bookshowpage-container p {
  font-size: 15px;
}

.reviews-index h4, .review-body >.just-says-review {
  font-size: 12px;
  font-weight:bold;
  padding-bottom: 0px;
  padding-top: 0px;
}

.community-reviews-heading{
  margin-top:60px;
}

.reviews-index hr{
  margin-top: 5px;
  margin-bottom: 10px;
}

.img-col {
  width: 150px;
}

.book-details {
  margin-right: 0px;
  margin-left: 5%;
  width: 57%;
}

.hr {
  margin-top: 30px;
  border-color: $off-white;
  opacity: 0.7;
}

.hr-gradient {
  border-color: $off-white;
  opacity: 0.7;
}

.book-img {
  max-width: 150px;
  box-shadow: #ddd 0px 5px 5px;
}

.book-title {
  margin-bottom: 5px;
  // line-height: 26px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

.book-author {
  color: $lighter-black;
  font-size: 110%;
  padding-bottom: 5px;
}

.book-description {
  font-size: 17px;
  text-align: left;
  line-height: 21px;
}

.book-details-container {
  display:flex;
  justify-content: center;
}

.reviews-activity-container{
  margin-right: 10%;
  display: flex;
  margin-left: 10%;
  flex-direction: column;
}

.review-body {
  display:flex;
  justify-content:flex-start;
  padding-bottom: 10px;
}

.review-body p {
  width: 75%;
}

.just-says-review{
  width: 20%;
  font-size: 14px;
}

.possible-review-link{
  cursor:pointer;
  font-weight: normal;
}

.possible-review-link:hover{
  text-decoration:underline;
}

.my-activity-and-edit {
  padding-top: 50px;
  display:flex;
  justify-content:space-between;
  font-size: 12px;
}

.my-activity-and-edit:first-child{
  font-weight:bold;
}

.bigger-review{
  font-size:12px;
  color: $teal;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.modal-book-details{
  display: flex;

}

.modal-book-details img {
  margin-right: 10px;
  margin-bottom: 10px;
}
.modal-book-details-text {

}
.modal-book-details h2 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.modal-heading {
  font-family: $lato;
}

p.smaller-heading {
  font-size: 14px;
  padding-top: 15px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;
   text-align: center;

}

.modal-form {
  width: 650px;
}

.modal-form input {
  text-align:center;
}

.modal-form textarea {
  width: 100%;
  padding-top: 10px;
  min-height: 250px;
}

.textarea-container {
  padding-top: 15px;
}

.modal-form label {
  text-align: center;
  padding-bottom: 15px;
}

.modal-form-button-container button {
  // padding-top: 5px;
  // display:flex;
  // justify-content:space-between;
  border-radius: 3px;
  border: 1px solid $other-gray;
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #333333;
  background-color: $sandy-white;
  line-height: 1;
  padding: 8px 12px;
}

.modal-form-button-container button:hover {
  // text-decoration: none;
}

.modal-form-buttons:last-child {
  cursor: pointer;
  font-family:$lato;
  font-size: 14px;
}

// .modal-form-buttons:last-child:hover {
//   text-decoration: underline;
// }
.delete-button-review {

  margin-top: 10px;
}

.delete-button-review a {
  text-decoration: none;
  color: $teal;
}

.delete-button-review a:hover {
  text-decoration: underline;
}

.modal-form-button-container {
  display: flex;
  justify-content: space-between;
}
