.book-index-container {
  width: 80%;
  margin: 20px;
}

.book-index {
  // background-color: $off-white;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

.index-heading h4 {
  font-weight: bold;
  // margin: 0 auto;
  font-size: 25px;
  text-align: left;
  color: $brown;
}

.book-index-item {
  padding: 16px 6px;
  display: flex;
  flex-direction: row;
  flex-flow:row wrap;
}

body {
  background-color: $off-white;
}

.index-heading {
  // margin: 0 auto;
  // width: 79%;
  padding: 13px;
}
