.bookshowpage-container {
  font-family: "Merriweather", "Georgia", serif;
  margin: 0 auto;
  width: 60%;
}

.bookshowpage-container h4, .bookshowpage-container h5 {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.bookshowpage-container h5{
  font-size:14px;
  padding-bottom: 14px;
}

.bookshowpage-container h5 > span {
  color: $teal;
}

.bookshowpage-container p {
  font-size: 15px;
}

.reviews-index h4, .review-body >.just-says-review {
  font-size: 12px;
  font-weight:bold;
  padding-bottom: 0px;
  padding-top: 0px;
}

.community-reviews-heading{
  margin-top:60px;
}

.reviews-index hr{
  margin-top: 5px;
  margin-bottom: 10px;
}

.page-top {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction:column;
}

.img-col {
  width: 40%;
  // padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items:center;
}

.book-details {
  width: 60%;
  margin-right: 0px;
}

.hr {
  margin-top: 30px;
  border-color: $off-white;
  opacity: 0.7;
}

.hr-gradient {
  border-color: $off-white;
  opacity: 0.7;
}

.book-img {
  max-width: 150px;
  display: block;
  border: 0;
  box-shadow: #ddd 0px 5px 5px;
}

.book-title {
  margin-bottom: 5px;
  // line-height: 26px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

.book-author {
  color: $lighter-black;
  font-size: 110%;
  padding-bottom: 5px;
}

.book-description {
  font-size: 17px;
  text-align: left;
  line-height: 21px;
}

.book-details-container {
  display:flex;
}

.reviews-activity-container{

}

.review-body{
  display:flex;
  justify-content:flex-start;
  padding-bottom: 10px;
}

.just-says-review{
  width:20%;
  font-size: 14px;
}

.possible-review-link{
  cursor:pointer;
  font-weight: normal;
}

.possible-review-link:hover{
  text-decoration:underline;
}

.my-activity-and-edit {
  padding-top: 50px;
  display:flex;
  justify-content:space-between;
  font-size: 12px;
}

.my-activity-and-edit:first-child{
  font-weight:bold;
}

.bigger-review{
  font-size:12px;
  color: $teal;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.modal-book-details{
  display: flex;

}

.modal-book-details img {
  margin-right: 10px;
  margin-bottom: 10px;
}
.modal-book-details-text {

}
.modal-book-details h2 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.modal-heading {
  font-family: $lato;
}

p.smaller-heading {
  font-size: 14px;
  padding-top: 15px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}

.modal-form input {
  text-align:center;
}
.modal-form textarea {
  width: 100%;
  padding-top: 10px;
  min-height: 250px;
}

.modal-form-buttons {
  padding-top: 5px;
  display:flex;
  justify-content:space-between;
}

.modal-form-buttons:last-child {
  font-family:$lato;
  font-size: 14px;
}
