.bookshowpage-container {
  font-family: "Merriweather", "Georgia", serif;
  margin: 0 auto;
  width: 40%;
}

.page-top {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.img-col {
  width: 20%;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.book-details {
  width: 60%;
  margin-right: 0px;
}

.hr {
  margin-top: 30px;
  border-color: $off-white;
  opacity: 0.7;
}

.book-img {
  max-width: 150px;
  display: block;
  border: 0;
  box-shadow: #ddd 0px 5px 5px;
}

.book-title {
  margin-bottom: 5px;
  line-height: 26px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

.book-author {
  color: $lighter-black;
  font-size: 110%;
  padding-bottom: 5px;
  font-size: 18px;
}

.book-description {
  font-size: 16px;
  text-align: left;
  line-height: 21px;
}
