.navbar {
  background-color: $sandy-white;
  display: flex;
  height: 50px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
;
}

.navbar > a {
  padding: 17px 30px;
  justify-content: flex-start;
  text-decoration: none;
  color: $brown;
}

.navbar > a:hover {
   background-color: $nav_hover_color;
   color: $nav_hover_text;
}

.navbar > a:last-of-type {
  margin-right: auto;
}

.nav-button {
  justify-content: flex-end;
}

.login-signup {
  width: 200px;
  background-color: $sandy-white;
  display: flex;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  height: 50px;

}

.login-signup > a {
  justify-content: flex-end;
  margin-right: auto;
  text-decoration: none;
  padding: 17px 30px;
  color: $brown;
}

.login-signup > a:hover {
  background-color: $nav_hover_color;
  color: $nav_hover_text;
}

.nav-logo {
  font-size: 20px;
  display: flex;
  padding: 13px 40px;

}
