.shelf-side-bar {
  // background-color: $green;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  max-width: 213px;
  padding-top: 13px;
}

.currently-reading {
  padding: 10px;
}

.currently-reading > h2 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

.currently-reading p, .not-wanting-anything p {
  font-size: 13px;
}

.currently-reading img {
}

.current-reading-detail {
  display:flex;
  justify-content: space-between;
}

.current-reading-detail-text{
  margin-left:20px;
}

.current-reading-detail-title{
  padding-bottom: 5px;
   font-weight:bold;
}

.shelf-side-bar img {
   width: 50px;
   height: 77px;
}

.not-wanting-anything {
  padding: 10px;
}

.shelves-index {
  padding: 50px 10px;
}

.shelves-index-item:hover {
  text-decoration: underline;
}

.shelves-index-item {
  margin-right: 10px;
}

.add-shelf p, .add-shelf input {
  margin: 5px;
}

.active-shelf {
  background-color: $green;
}

.want-to-read-gallery {
  display:flex;
  width: 100%;
  // max-width: 200px;
  flex-wrap: wrap;
}
.shelves-index > ul > li {
  display: flex;
  // margin-right: 10px;
}

.bold {
  font-weight: bold;
}

.shelves-index > ul > li > div > a {
  text-decoration: none;
  color: $teal;
}
