.shelf-side-bar {
  // background-color: $green;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  padding-top: 13px;
  padding-right: 20px;
  width: 50%;
  max-width: 213px;
}

.currently-reading {
  padding: 10px;
}

.currently-reading > h2 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

.currently-reading p {
  font-size: 13px;
}

.currently-reading img {
}

.shelf-book-container {
  margin: 0 auto;
  width: 75%;
  margin-top: 5px;
}

.not-wanting-anything {
  padding: 10px;
}

.shelves-index {
  padding: 10px;
}

.counts-and-list {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.shelves-index-item a {
  text-decoration: none;
  color: $teal;
  list-style: none;
}

.add-shelf p, .add-shelf input {
  margin: 5px;
}

.active-shelf {
  background-color: $green;
}
