.active-shelf {
  background-color: $green;
  color: white;
}

.shelves-status-container{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.hidden-shelves p{
  font-size: 14px;
  padding: 7px;
}


.shelf-display-name {
  border: 1px solid $gray;
  border-radius: 3px;
  background-color: $green;
  margin-top: 20px;
  padding: 10px 0px;
  min-width: 150px;
  max-width: 150px;
  box-shadow: 2px  $gray;
  text-align:center;
  // width: 100%;
}

.shelf-display-name p {
  font-size: 14px;
  font-weight:bold;
  color: $sandy-white;
}

.shelves-status-container > div:hover {
  cursor:pointer;
}


.hidden-shelves {
  border: 1px solid $gray;
  background-color:$off-white;
}
