.shelf-side-bar {
  // background-color: $green;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  padding-top: 13px;
  padding-right: 20px;
  width: 50%;
  max-width: 213px;
}

.currently-reading {
  padding: 10px;
}

.currently-reading > h2 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

.currently-reading p, .not-wanting-anything p {
  font-size: 13px;
}

.currently-reading img {
}

.current-reading-detail {
  display:flex;
  justify-content: space-between;
}

.current-reading-detail-text{
  margin-left:20px;
}

.current-reading-detail-title{
  padding-bottom: 5px;
   font-weight:bold;
}
.shelf-book-container {
  margin: 0 auto;
  width: 75%;
  margin-top: 5px;
}

.shelf-side-bar img {
   width: 50px;
   height: 77px;
}

.not-wanting-anything {
  padding: 10px;
}

.shelves-index {
  padding: 10px;
}

.counts-and-list {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size:14px;
  line-height: 25px;
}

.shelves-index-item a {
  text-decoration: none;
  color: $teal;
  list-style: none;
}

.shelves-index-item {
  display:flex;
  justify-content: space-between;
}
.add-shelf p, .add-shelf input {
  margin: 5px;
}

.active-shelf {
  background-color: $green;
}

.want-to-read-gallery {
  display:flex;
  width: 30%;
  max-width: 200px;
}
