.splash {
  background-color: $sandy-white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

}

.splash-signin {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
