.splash {
  background-color: $sandy-white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.splash-signin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  padding-top: 20px;
}

.splash-top {
  height: 75px;
}

.splash-signin input {
  width: 120px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid $gray;
  border-radius: 3px;
  padding: 5px 1px;
}

.splash-signin input::placeholder {
  font-size: 12px;
  padding: 5px 0px 5px 5px;
}

.splash-signin button {
  background-color: $brown;
  color: white;
  border: none;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
}

.splash-buttons {
  margin-top: 1px;

}

.splash-header {
  background-image: url("http://res.cloudinary.com/dqj3kgpoj/image/upload/v1523307434/masthead_background.jpg");
  min-height: 370px;
}

.splash-header form {

}

.splash-bottom {
  height: 295px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.splash-signup input {
  display: flex;
  justify-content: flex-end;
  width: 250px;
  padding: 5px 0px 5px 5px;
  margin-bottom: -8px;
  border: 1px solid $gray;
}

.splash-signup button {
  background-color: $yellow;
  color: $brown;
  border: none;
  padding: 9px 15px 9px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.splash-signup > h2 {
  color: black;
  padding-bottom: 8px;
}

.splash-body-text-container {
  display: flex;
  margin: 0 auto;
  width: 60%;
  justify-content: space-around;
}

.first-wall {
  width: 280px;
  margin: 0 10px 10px 0;
  float: left;
}

.second-wall {
  width: 280px;
  margin: 0 10px 10px 0;
  float: right;
}

.splash-body-text-container > div > h3 {
  padding: 25px 0px;
  font-size: 18px;
  font-weight: bold;
}

.splash-body-text-container > div > p {
  font-size: 15px;
}

.book-index-splash {
  align-items: center;
  border-radius: 2px;
  border: 1px solid $gray;
  background-color: white;
  display: flex;
  justify-content: center;
}

.splash-books {
  padding-top: 30px;
}

.books-index-container-splash {
}

@media (max-width: 992px) {
  .splash-bottom {
    flex-direction: column;
  }
}
